 
 * {
  box-sizing: border-box;
  box-shadow: 15px 15px 10px rgba(0,0,0,)
  
}

/* Style the body */
body {
  background-color: rgba(255, 241, 115, 0.884);
  font-family: sans-serif; 
  margin: 0; 
  height: 500vh;
  font-family: Ink Free;
  padding: 10px 15px; 
}


/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: rgb(182, 85, 5);
}

h2 {
  font-size: 20px;
  margin: 0; 
  color:rgb(156, 62, 55)
  }

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #e98b66;
  color: rgb(255, 221, 70);
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: rgb(209, 161, 4);
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

  #myDIV {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
  }
  

/* Column container */
.row {  
  display: flex;
  flex-wrap: row;
}

      
      
.band {
  width: 70%;
  min-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
        
}

@media screen and (min-width: 768px) {
  .row, .navbar {   
    flex-direction: row;
  }
 }
 
 
 @media only screen and (min-width: 768px) {
  .band {
    grid-template-rows: 1fr 1fr;
  }  
  .item-1 {
  grid-row: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
 }
 
@media only screen and (min-width: 992px) {
  .band {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}






      
/* card */

.card {
  min-height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(190, 78, 44);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;

  
}
.card .thumb {
  padding-bottom: 40%;
  background-size: cover;
  background-position: center center;
  
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: rgb(73, 78, 51);
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}




/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(93, 121, 86);
}


